.row
  .col-md-4.col-md-offset-4

    %h1 Редактирай блайнд
    - @blind.name
    .well
      = simple_form_for(@blind, html: { class: 'form-horizontal form-new-edit' }, url: {action: "update", id: @blind.id}, method: `post`) do |f|
        %fieldset
          = f.input :name
          = f.input :priority
                            
          
          %p.buttons
            = f.button :submit, class: "btn btn-primary"
            = link_to "Back", {action: "index"}, class: "btn btn-default"