.row
  .col-md-4.col-md-offset-4

    %h1 Нов блайнд
    .well
      = simple_form_for(@blind, html: { class: 'form-horizontal form-new-edit' }) do |f|
        %fieldset
          = f.input :name, placeholder: 'Въведете блайнд ...'
          = f.input :priority, placeholder: 'Въведете приоритет ...'
                   
          
          %p.buttons
            = f.button :submit, class: "btn btn-primary"
            = link_to "Back", {action: "index"}, class: "btn btn-default"