.row
  .col-md-10.col-md-offset-1
    %h1 BB Push
    
    %h4 Моля изберете позиция и брой блайндове:
        
    %p
      .btn-group{:role=> "group"}
        - for position in @positions
          - if @current_position && @current_position.id == position.id
            = link_to position.name, {action: "index", position: position.id}, class: "btn btn-default active"
          - else 
            = link_to position.name, {action: "index", position: position.id}, class: "btn btn-default"
          
    %p
      .btn-group{:role=> "group"}
        - for blind in @blinds
          - if @current_blind && @current_blind.id == blind.id
            = link_to blind.name, {action: "index", blind: blind.id}, class: "btn btn-default active"
          - else
            = link_to blind.name, {action: "index", blind: blind.id}, class: "btn btn-default"
    
    .jumbotron.spaced
      %h4Диапазонът от ръце, с които трябва да пушвате при тази комбинация е:
    .label-danger
      %h3= @current_hand.name if @current_hand